# Python
__pycache__/
*.py[cod]
*.sqlite3
.venv/
venv/
.env
.env.*

# Django
staticfiles/
media/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Keep examples
!.env.example
